:root {
  font-size: 15px;
  /* デフォルト 16px よりやや小さく */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-weight: normal;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

button,
a,
input,
textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
}

#app {
  width: 100%;
  height: 100%;
}
