// cm-editor > cm-scroller > cm-content > cm-line

.cm-editor { height: 100%; padding: 0; }
.cm-scroller { font-family: inherit; padding: 0; }
.cm-content {
  font-family: inherit;
  line-height: 1.48em; // 上下の spoiler がちょうど重ならない
  padding: 4px 0;
  caret-color: rgb(var(--v-theme-on-surface));
}
.cm-line { font-family: inherit; }

// フォーカス時のアウトライン
.cm-focused {
  outline: none;
}

// spoiler のスタイル
.cm-spoiler {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(var(--v-theme-input));
  background-color: rgba(var(--v-theme-input), 0.1);
  color: rgb(var(--v-theme-input));
  font-weight: 500;
  margin: 0 2px;
}
