// cm-editor > cm-scroller > cm-content > cm-line

.cm-editor { height: 100%; padding: 0; }
.cm-scroller { font-family: inherit; padding: 0; }
.cm-content { font-family: inherit; line-height: 1.48em; padding: 4px 0;}
.cm-line { font-family: inherit; }

// フォーカス時のアウトライン
.cm-focused {
  outline: none;
}

// spoiler のスタイル
.cm-spoiler {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(76, 0, 255);
  background-color: rgba(76, 0, 255, 0.05);
  color: rgb(76, 0, 255);
  font-weight: 500;
  margin: 0 2px;
}
