// cm-editor > cm-scroller > cm-content > cm-line

.cm-editor { height: 100%; padding: 0; }
.cm-scroller { font-family: inherit; }
.cm-content { font-family: inherit; padding: 4px; }
.cm-line { font-family: inherit; }

// フォーカス時のアウトライン
.cm-focused {
  outline: none;
}

// spoiler のスタイル
.cm-spoiler {
  border: 1px solid #4c00ff;
  color: #4c00ff;
  font-weight: 500;
  border-radius: 4px;
  padding: 0 2px;
}
