*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a,
input,
textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
}

#app {
  width: 100%;
  height: 100%;
}
